body{
	margin:0px;
	font-family: "Calibri";
}
*{
	margin: 0px;
	padding:0px;
	box-sizing: border-box;
	list-style: none;
}

.foryou{
	width: 100%;
	padding: 0.5rem;
	background: #ece9dc;
}
.foryou_box{
	width: 100%;
}
.foryou_module{
	background: #fff;
	color: #722338;
	text-align: center;
	margin-bottom: 0.24rem;
	padding: 0.6rem 0.24rem 0.18rem 0.18rem;
}
.foryou_module .title{
	font-size: 0.54rem;
	font-weight: 700;
	padding-bottom: 0.18rem;
}
.foryou_module .subtitle{
	font-size: 0.34rem;
	font-weight: 700;
	padding-bottom: 0.34rem;
}
.foryou_module .text{
	font-size: 0.26rem;
}
.foryou_module .price{
	padding-top: 0.20rem;
}
.foryou_module .price .left_img {
    width: 2.14rem;
    max-height: 3.55rem;
    float: left;
    margin-left: 0.10rem;
}
.foryou_module .price .left_img img {
    width: 100%;
}
.foryou_module .price .tra {
}
.foryou_module .price_from {
    padding-top: 0.40rem;
    padding-bottom: 0.02rem;
    font-size: 0.24rem;
}
.foryou_module .price_month {
    font-size: 0.42rem;
    font-weight: 700;
}
.foryou_module .month li {
    width: 32%;
    float: left;
    font-weight: 600;
    margin-top: 0.40rem;
    position: relative;
}
.foryou_module .month li:first-child {
    margin-right: 0.09rem;
}
.foryou_module .month li:last-child {
    margin-left: 0.09rem;
}
.foryou_module .month .mon {
    width: 100%;
    background: #b80030;
    border-radius: 8px;
    padding: 0.30rem 0.20rem;
    color: #fff;
    cursor: pointer;
    font-size: 0.24rem;
    margin-bottom: 0.1rem;
}
.foryou_module .month p {
    color: #ff0000;
    font-size: 0.24rem;
}
.foryou_module .month .agio {
    position: absolute;
    background: #ff0000;
    color: #fff;
    width: 0.44rem;
    height: 0.44rem;
    padding-top: 0.12rem;
    top: 1.0rem;
    right: -0.08rem;
    font-size: 0.20rem;
    border-radius: 50%;
}
.foryou_module .month s {
    color: #b80030;
}
.foryou_module .ensure {
    margin-top: 0.42rem;
    color: #bfbdb6;
    font-size: 0.24rem;
}
.foryou_module .ensure .can {
    padding-right: 19px;
    margin-right: 19px;
    border-right: #bfbdb6 2px solid;
}

.dep_time{}
.dep_time .title{
	background: #722338;
	color: #fff;
	font-size: 0.38rem;
    font-weight: 600;
    text-align: center;
    padding: 0.44rem 0rem;
}
.dep_time .title p{
	line-height: 0.44rem;
}
.dep_time .benefit{
	text-align: center;
	padding-bottom: 0.66rem;
}
.dep_time .benefit .tit{
	font-size: 0.37rem;
    font-weight: 600;
	color: #722338;
	margin:0.40rem 0rem 0.36rem 0rem;
}
.dep_time .benefit .zen{
	font-size: 0.28rem;
	color: #000;
}
.dep_time .benefit .tim{
	font-size: 0.29rem;
    font-weight: 600;
	color: #722338;
}
.dep_time .benefit .happ{
	font-size: 0.40rem;
    font-weight: 600;
	color: #722338;
	margin-top: 0.26rem;
}
.dep_time .benefit .mac{
	margin:0.30rem 0rem;
}
.dep_time .benefit .mac img{
	width: 4.92rem;
}
.dep_time .benefit .hours{
	font-size: 0.20rem;
}
.dep_time .benefit .zen .num{
	color: #722338;
	font-weight: 400;
}
.dep_time .benefit .zen .mei{
	color: #722338;
	font-weight: 400;
}

.subscribing {
	background: #ece9dc;
}
.subscribing .title{
	font-size: 0.38rem;
    font-weight: 600;
    text-align: center;
    padding: 0.44rem 0rem;
	color: #722338;
}
.subscribing_item{
	background: #fff;
	text-align: center;
    color: #722338;
    padding-top: 0.20rem;
    padding-bottom: 0.52rem;
    margin-bottom: 0.18rem;
}
.item_img{
	padding: 0.32rem 0rem;
}
.item_img img{
	width: 3.60rem;
	height: auto;
}
.item_three img{
	width: 4.92rem;
	margin-left: 0.6rem;
}
.subscribing_item .item_title{
	font-size: 0.34rem;
    font-weight: 600;
    margin-bottom: 0.32rem;
}
.subscribing_item .item_text{
	font-size: 0.24rem;
	font-weight: 500;
}